Package: check-jitter-opsview
Version: {{VERSION}}
Section: base
Priority: optional
Architecture: amd64
Maintainer: Johan Thorén <johan@thoren.xyz>
Description: Opsview plugin to check network jitter
 A Nagios compatible Opsview plugin to measure network jitter.
